# Customize your own environment variables here. Then, change the file name to .env (remove the .example extension) so that it is used by Docker Compose.

# PostgreSQL 
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=telemetry

# Grafana
GRAFANA_ADMIN_USER=user
GRAFANA_ADMIN_PASSWORD=password

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=password